.memorizeApp {}

.floatingHeader {
    /* above everything */
    z-index: 99;
    /* Items be in a horrizontal line? */
    position: fixed;
    bottom: 0;
    background-color: blanchedalmond;
    padding: 10px;
    gap: 10px;
    width: 100%;



    display: flex;
    
    /* Ensures that right-most element has a border */
    height: 74px;
    box-sizing: border-box
}

.addSceneButton {
    width: 0px;
    flex-grow: 0;
    padding: 0px;
    /* align-self: flex-start; */

}


.floatingHeader * {
    flex-grow: 1
}

.sceneSelector {
    width: 33%;
}

.floatingHeader select {
    width: 80%;
}